

body {
    background-image: url('https://acortar.link/s47jUt'); /* Ruta de la imagen */
    margin: 0; /* Elimina márgenes que puedan afectar el fondo */
    padding: 0;
    min-height: 100vh; /* Asegura que el fondo cubra al menos la altura de la ventana */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}


.background{
    background-color: rgba(255, 255, 255, 0.7);
}


.presentacion_contenedor{

    display:flex;
    justify-content: center;      /* Centra horizontalmente */
    align-items: center;          /* Centra verticalmente */

}
.titulo_presentacion {
    text-align: center;
    color:white;
    padding: 40px;

}

.presentacion_img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-image-source: url("marco-dorado.png");
    border-image-slice: 21;
    border-image-width: 20px 40px;
    border: 0px solid rgba(255,255,255,0.01);
    box-shadow: 0  4px 30px rgb(224, 206, 39);
    padding: 10px;
    text-align: justify;
}
.presentacion{
    
    text-align: center;
    color: white;
    max-width: 600px;             /* Limita el ancho del texto */
    padding:20px;                /* Añade espacio interno */
    text-align: center;           /* Centra el texto */
    border-radius: 8px;           /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
    font-size: 1.5em;
}




#seccion2 {
    text-align: center;
    padding: 150px;

}

.titulo_h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    color:white;
    margin: top 80px;
}

.imagenes_habilidad .fila {
    display: flex; /* Organiza las imágenes en fila */
    justify-content: center; /* Centra la fila horizontalmente */
    gap: 70px; /* Espaciado entre imágenes */
    flex-wrap: wrap; /* Permite que las imágenes se ajusten si el espacio es pequeño */
    object-fit: contain;
}

.imagenes_habilidad .fila img {
    width: 140px; /* Ancho uniforme para todas las imágenes */
    height: auto; /* Mantiene la proporción */
    object-fit: contain; /* Ajusta la imagen sin recortarla */
    transition: transform 0.3s ease; /* Efecto suave al pasar el mouse */
}

.imagenes_habilidad .fila img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}

#seccion3 {
    text-align: center;
    padding: 40px;
}